<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>WEB-DB-HOME</title>



  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@0,900;1,100&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/index.css">
<link rel="icon" href="images/favicon.ico">
  <!-- Font Awesome -->
<script src="https://kit.fontawesome.com/682b71a7c2.js" crossorigin="anonymous"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>

<body>

  <!-- top section -->
  <section class="colored-section">

    <div class="container-fluid ">

      <nav class="navbar navbar-expand-lg navbar-light ">
        <img class="logo-image" src="images/lionhead-logo.png" alt="lion head image">
        <h1 class="project-title1">WEB</h1>
        <h1 class="project-title2">-db</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
          <a class="nav-link btn  btn-lg signin-button about" href="#about">About us</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-primary btn-lg signin-button"><a href="/sign_in" style="text-decoration: none;"><i class="fas fa-lock"></i> Sign in</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-warning btn-lg signup-button"><a href="/sign_up" style="text-decoration: none;"><i class="fas fa-lock"></i> Sign up</a></button>
            </li>
          </ul>

      </nav>

      <!-- top container -->

      <div class="row image-section">

        <div class="col-lg-6 top-container " >
          <h1 class="heading1">WEB</h1>
          <h1 class="heading2">-db</h1>
          <p class="punch-line">Get in into webdb to sign up for hassel free management.</p>
        </div>

      </div>

    </div>

  </section>

  <!-- feature section -->

  <div class="container-fluid feature">
    <div class="row second">
      <div class="col-lg-4 " >

        <div class="card">

          <div class="card-body">
            <i class="fas fa-heart fa-4x" aria-hidden="true"></i>
            <h2 class="card-title">User friendly</h2>
            <p class="card-text">Site is designe well for easy use.</p>
          </div>

        </div>

      </div>
      <div class="col-lg-4" >

        <div class="card">
          <div class="card-body">
            <i class="fas fa-mouse-pointer fa-4x"  aria-hidden="true"></i>
            <h2 class="card-title">Clicks away</h2>
            <p class="card-text">Just click and start</p>

          </div>
        </div>

      </div>
      <div class="col-lg-4" >

        <div class="card">
          <div class="card-body">
            <i class=" fas fa-shield-alt fa-4x" aria-hidden="true"></i>
            <h2 class="card-title">Secure</h2>
            <p class="card-text">Just sign in any time to access your data.</p>

          </div>
        </div>
      </div>
    </div>
  </div>

<!-- discription section -->

<div class="middle">
  <div class="discription-box">

    <div class="row r1">
      <div class="col-lg-5 col-sm-12 left-float">
        <img class="left-image" src="images/usage.jpg" alt="logo">
      </div>
      <div class="col-lg-7 col-sm-12 discription-text  float-text1">
        <h1 class="discription-heading d1">Convenience at its best</h1>
        <p>We’re committed to provide the best experience using the WEB-db</p>
        <p><i class="fa fa-chevron-right d2" aria-hidden="true"></i> WEB-db is designe for the better convenience< in using it./p>
        <p><i class="fa fa-chevron-right  d2" aria-hidden="true"></i> Enviroment is made user friendly even for the non-technological user.</p>
      </div>
    </div>

    <hr>

    <div class="row r2">
      <div class="col-lg-7 col-sm-12 discription-text float-text2">
        <h1  class="discription-heading d2">Efficieny in the management</h1>
        <p>WEB-db provide the the best tools for the proper use of the database</p>
        <p><i class="fa fa-chevron-right d1"  aria-hidden="true"></i> Sign in securely with your unique password</p>
        <p><i class="fa fa-chevron-right d1" aria-hidden="true"></i> Sign in securely with your unique 4-digit code and password</p>
        <p><i class="fa fa-chevron-right d1" aria-hidden="true"></i> Sign in securely with your unique 4-digit code and password</p>
      </div>
      <div class="col-lg-5 col-sm-12 right-float">
        <img class="right-image" src="images/efficiency.jpg" alt="logo">
      </div>
    </div>

    <hr>

    <div class="row r1">
      <div class="col-lg-5 col-sm-12 left-float">
        <img class="left-image" src="images/security.jfif" alt="security image">
      </div>
      <div class="col-lg-7 col-sm-12 discription-text float-text1">
        <h1  class="discription-heading d1">Security is our priority</h1>
        <p>We’re committed to keeping your data secure. With multiple safety measures like secure encryption and multi-factor authentication, we work to keep your information protected.</p>
        <p><i class="fa fa-chevron-right d2 " aria-hidden="true"></i> Sign in securely with your unique password</p>
        <p><i class="fa fa-chevron-right d2 " aria-hidden="true"></i> we are continuosly working for better security.</p>
      </div>
    </div>

  <hr>

    <div class="row r2">
      <div class="col-lg-7 col-sm-12 discription-text float-text2">
        <h1 class="discription-heading d2">Users first</h1>
        <p>We are always there for our users in problems and issues. </p>
        <p><i class="fa fa-chevron-right d1" aria-hidden="true"></i> Help the user in there troubleshoting.</p>
        <p><i class="fa fa-chevron-right d1" aria-hidden="true"></i> Provide the proper guide to the users for efficiently use the site.</p>
      </div>
      <div class="col-lg-5 col-sm-12 right-float">
        <img class="right-image" src="images/user.jfif" alt="logo">
      </div>
    </div>

  </div>
</div>

<!-- about section -->

<div class="abouth" id="about">
<div class="abo">
  <h1>About us</h1>
</div>
<div class="boo">
<p class="poo">Present world is the cyber-world where every
information is the virtual gold which needed to be stored
efficiently and securely. So in this world there is the need
for everyone to connect to this cyber world no matter their
profession, their usage and their scale organisation or
institute. To help everyone with or without the knowledge
of the technology, to make a space for their information
with the use of WEB-DB.</p>
 <p class="poo">WEB-DB is the web-based application that allows the
user to store the information about the people that are the
part of his institution / organisation / company for the
better organisation of the information on the single
platform.</p>

</div>
<div class="dev">

</div>

</div>

  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div class=" footer-image">
      <img class="logo-image" src="images/lionhead-logo.png" alt="lion head image">
    </div>
    <div class="container-fluid">
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p class="Copyright">&#169; Copyright 2020 WEB-db</p>
    </div>
  </footer>

  </body>

  </html>
